.mine {
	width: 90%;

	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	/* align-items: center; */
	position: relative;
	left: 50%;
	transform: translate(-50%);
	border: 1px solid #d8d8d8;
	box-shadow: 0 0 10px #ddd;
	border-radius: 4px;

}



.mine-head {
	
	margin: 0 auto;
	width: 92%;
	border-bottom: 1px solid #d8d8d8;
	padding: 20upx 0upx;

	font-size: 16px;
	/* letter-spacing: 3upx; */
	color: rgb(48, 49, 51);
	/* white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.mine-body {
	width: 100%;
	padding: 15upx 10upx;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.main-padding {
	padding: 20upx 0px;

}

/* .zb-list {
	padding-top: 110upx;
} */

.search-ico {
	width: 40upx;
	height: 40upx;
}

.search-text {
	font-size: 14px;
	background-color: #eaeaea;
	height: 60upx;
	width: 620upx;
	border-radius: 4px;
}

.search-block {
	width: 100%;

	display: flex;
	flex-direction: row;
	padding: 18upx 20upx;
	position: fixed;
	justify-content: center;
	z-index: 2000;
	background-color: #FFFFFF;
}

.search-ico-wapper {
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10upx;
	border-radius: 4px;
}

.poster {
	width: 200upx;
	height: 270upx;
}

.moive-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 100upx 10upx 0upx 10upx;
}

.movie-wapper {
	padding: 10upx 20upx;
}


.top {
	position: relative;
	display: block;
	/* 先将元素隐藏 */
}

.topc {
	width: 100rpx;
	position: fixed;
	right: 0;
	right: 5%;
	top: 85%;
	height: 100rpx;
	line-height: 50rpx;
	border-radius: 50%;
	overflow: hidden;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40rpx;
	margin-bottom: 20rpx;
	z-index: 100;
}

.loading .loading_text {
	margin-left: 20rpx;
	font-size: 12rpx;
}



.authorization {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.message{
	margin-top: 80rpx;
}
.btn{
	margin-bottom: 60upx;
}


.searchTopBox {
		width: 100%;
		background-color: #f10000;
		height: 100upx;
		box-sizing: border-box;
		padding-top: 15upx;
		position: fixed;
		z-index: 9999;
	}

	.searchBoxRadius {
		width: 90%;
		height: 70upx;
		background-color: #fff;
		margin-left: 5%;
		overflow: hidden;
		border-radius: 35upx;
	}

	.searchBoxIcon {
		font-size: 40upx;
		margin-top: 18upx;
		margin-left: 20upx;
		float: left;
		width:40upx ;
		height: 40upx;
	}

	.searchBoxIpt {
		height: 70upx;
		line-height: 70upx;
		margin-left: 20upx;
		float: left;
	}

	.searchBotBox {
		width: 100%;
		margin-top: 30upx;
		padding: 15upx 3%;
		box-sizing: border-box;
	}